# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.pub-cache/
build/
.metadata

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.keystore
**/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
**/*.xcworkspace
**/*.xcuserstate
**/*.xcuserdatad
**/*.moved-aside

# Web
web/.dart_tool/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

